/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*reset css*/

header {
  height: 70px;
  width: 100%;
  background-color: #ec715f;
}

.header {
  width: 1024px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
}

.header ul {
  display: flex;
}

.header li {
  margin:auto 30px;
  color: #fafafa;
  font-size: 16px;
}

.main-visual {
  height:650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-text, .sub-text {
  color: #fafafa;
  text-align: center;
}

.main-text {
  font-size: 64px;
  padding-top: 200px;
}

.sub-text {
  font-size:20px;
  padding-top: 10px;
}

.title {
  font-size:32px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 8px;
  padding-top: 90px;
  text-align: center;
}

.text {
  text-align: center;
  padding:30px 0;
  font-size: 16px;
  color: #000;
  /*line-height: 24px;*/
}

.line {
  border-bottom:3px solid #ec715f;
  width: 70px;
  margin: 0 auto;
}

.images {
  max-width: 920px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 300px;
  height: 250px;
  background-size: 100% 100%;
}

.img1 {
  background-image: url(img/sketch.jpg);
}

.img2 {
  background-image: url(img/websuku.png);
  margin-left: 10px;
}

.img3 {
  background-image: url(img/write.jpg);
  margin-left: 10px;
}

.img4 {
  background-image: url(img/webcamp.png);
  margin-top: 10px;
}

.img5 {
  background-image: url(img/talk.jpg);
  margin-left: 10px;
  margin-top: 10px;
}

.img6 {
  background-image: url(img/webcamp-mother.png);
  margin-left: 10px;
  margin-top: 10px;
}


footer {
  font-size: 16px;
  color: #fafafa;
  background-color: #ec715f;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
}