/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*header*/

header {
  height: 70px;
  background-color: #ec715f;
}

.header {
  width: 1024px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px;
}

.header ul {
  display: flex;
}

.header li {
  margin:auto 30px;
  color: #fafafa;
  font-size: 16px;
}

.sp-nav {
  display: none;
}

/*main*/

.main-visual {
  height:650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-text, .sub-text {
  color: #fafafa;
  text-align: center;
}

.main-text {
  font-size: 64px;
  padding-top: 200px;
  font-weight: bold;
}

.sub-text {
  font-size:20px;
  padding-top: 10px;
}

.title {
  font-size:32px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 8px;
  padding-top: 90px;
  text-align: center;
}

.text {
  text-align: center;
  padding:30px 0;
  font-size: 16px;
  color: #000;
  /*line-height: 24px;*/
}

.line {
  border-bottom:3px solid #ec715f;
  width: 70px;
  margin: 0 auto;
}

.portfolio {
  padding-bottom: 90px;
  background-color: #eceff1;
}

.images {
  max-width: 920px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
}


.img {
  width: 300px;
  height: 250px;
  background-size: 100% 100%;
}

.img1 {
  background-image: url(img/sketch.jpg);
}

.img2 {
  background-image: url(img/websuku.png);
  margin-left: 10px;
}

.img3 {
  background-image: url(img/write.jpg);
  margin-left: 10px;
}

.img4 {
  background-image: url(img/webcamp.png);
  margin-top: 10px;
}

.img5 {
  background-image: url(img/talk.jpg);
  margin-left: 10px;
  margin-top: 10px;
}

.img6 {
  background-image: url(img/webcamp-mother.png);
  margin-left: 10px;
  margin-top: 10px;
}

.feature {
  margin-bottom: 90px;
}

.feature-index {
  display: flex;
  justify-content: center;
}

.strength {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

.strength:nth-child(n+2) {
  margin-left: 10px;
}

.icon {
  font-size: 60px;
}

.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px;
}

.profile {
  background-color: #eceff1;
}

.profile-details {
  display: flex;
  justify-content: center;
  padding: 30px 0 90px 0;
}

.profile-photo {
  border-radius: 180px;
  width: 250px;
  height: 250px;
}

.right-side, .left-side {
  width: 512px;
}

.left-side {
  text-align: center;
}

.profile-text {
  margin-bottom: 20px;
}

.profile-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}

.left, .right {
  width: 400px;
}

.contact-title {
  font-size: 20px;
  font-weight: bold;
  margin:20px 0 5px 0;
}

a {
  margin-bottom: 20px;
  color: #000;
}

.sns {
  display: flex;
}

.sns-icon {
  font-size: 50px;
  margin-right: 20px;
}

footer {
  font-size: 16px;
  color: #fafafa;
  background-color: #ec715f;
  text-align: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
}


@media screen and (max-width: 768px) {
  
  body {
    max-width: 100%;
  }
 
 header, .logo {
   height: 50px;
 }
 
 .pc-nav {
   display: none;
 }
 
 .sp-nav {
   display: block !important;
 }
 
  
}